body{
  font-family: sans-serif;
  box-sizing: border-box;
  width:100%;
  background-color: rgb(190, 155, 78);
}



/*header styling starts here -----------------------------------------------
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/

header{
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(65, 84, 94);
  background-color: rgb(163, 121, 32);    
}
/* header h1 is the name label goes in top left, styling starts here 
------------------------------------------------------------------*/
header h1{
  margin-right: auto;
  background-color: rgb(62, 159, 159);
  color: var(--grey);  
  /* add relative space padding to h1 element */
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  /* margin-left: 0.1rem;  add if you need to move name to right */
}

/* nav-list class set of links in the navigation, styling starts here 
-------------------------------------------------------------------*/
.nav-list{
  margin-right: 4rem;
  list-style-type: none;
  margin-top: 4.5rem;
  display: flex;
  gap: 1rem;
  }

.nav-list a{
  justify-content: space-between;
  /* color: aqua; */
  color: rgb(46, 194, 194); 
  text-decoration: underline;
}

/* Media Query for the header element-------------- 
--------------------------------------------------*/
@media screen and (max-width: 768px) {
header h1{
  flex: 1 0 200px;
  /* padding-right: 15rem;
  padding-left: 12rem; */
}
.nav-list {
  margin-top: 1rem;
  padding-left: 3rem;
}
}



/*header styling untill here-------------------------------------------------
----------------------------------------------------------------------------*/


/* Subheader with background image,photo and title styling ------------------
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/

.bgimg{
  position: relative;
  text-align: center;
  color: rgb(210, 207, 207); 
/* background-color: black; */   
}
.image1{
  width: 100%;
  height: 15rem;
}    
/* adding a title to subheading */
.bottom-right{

  font-family:sans-serif;
  position: absolute;
  top:50%;
  left:70%;
  transform: translate(-50%, -50%);       
}

/* adding profile photo */
.bottom-left{
position: absolute;
left: 2rem;
top:2rem;
height:10rem
}
/* Media Query for the subheader element-------------- 
--------------------------------------------------*/
@media screen and (max-width: 768px) {
.bgimg{
  text-align:center;
}
}
/*subheader styling untill here----------------------------------------------
----------------------------------------------------------------------------*/





/* aboutme with title and a note styling starts here-------------------------
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/

#aboutme{
  display: flex;
  padding: 10px;
  
  
}
#aboutme .note{
  padding-left: 4rem;
  padding-right: 3rem;;
  margin-right: 5rem;
  text-align:justify;
}
#aboutme .title{
  margin-left: 2rem;
  
}
/*aboutme styling untill here----------------------------------------------
----------------------------------------------------------------------------*/


/* work with title and 4 grid images styling starts here---------------------
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/

#Work,
#Contact {
    display: flex;
    padding-left: 2.5rem;
    width: 90%;
    text-align: justify;
    font-family: 'Lexend', sans-serif;
    

}
#Work .title1{
  display: flex;
  position:relative;
  padding: 5px;
  z-index: 1;
  
  
}
#Work .title1{
  display: flex;
  position:relative;
  padding: 5px;
  z-index: 1;
    
}
#Contact .title2{
  display: flex;
  position:relative;
  padding: 6px;
  z-index: 1;
}

#Work .title {
  background-color: rgb(26, 152, 186);
  position: absolute;
  /* background-color: rgb(203, 152, 169); */
  align-self: flex-end;
  padding: 18px;
  z-index: 1;
  font-size: large;

}

.portfolio {
  margin-left: 4rem;
  margin-right: 3rem;
  background-color: rgb(44, 194, 194);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Lexend', sans-serif;
}

a#pro1 {
    display: block;
    background-image: url('../assets/images/touch.webp');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 300px;
    z-index: 0;

}

a#pro2 {
    display: block;
    background-image: url('../assets/images/vertibuildings.jpeg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

a#pro3 {
    display: block;
    background-image: url('../assets/images/books.webp');
    background-size: cover;
    background-position: center;
    height: 200px;

}

a#pro1,
a#pro2,
a#pro3 {
    font-family: 'Lexend', sans-serif;
}

.smallImg,
.smallImg2,
.largeImg {

    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    position: relative;
}

.Border {
  border: 3px solid var(--blue);
  width: 100%;
}

.smTitle {
    position: absolute;
    background-color: var(--blue);
    margin-top: 142px;
    padding: 20px;
    z-index: 1;
    font-size: medium;
}

a#pro1:hover,
a#pro2:hover,
a#pro3:hover {
  opacity: 0.6;
}

.contactContainer {
    width: 100%;
}

.contactInfo {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
   
    margin-top: 30px;
}

.contactInfo li a {
    text-decoration: none;
    color: rgb(90, 55, 5);  
}

.contactInfo li a:hover {
    text-decoration: none;
    color: rgb(210, 212, 192);
    background-color: beige;
}


@media only screen and (max-width:768px) 
{ 
  .smallImg,
  .smallImg2 {
        flex-direction: column;
    }

    .contactInfo {
        flex-direction: column;
        margin: 0;
    }

    .contactInfo li {
        margin-top: 2rem;;
        align-self: center;
       
    }
}


/* footer styling starts here --------------------------------------------
---------------------------------------------------------------------------*/

footer h3{
  text-align :center;
  flex-shrink: 0;
  padding: 20px;
  background-color: rgb(143, 111, 41);
  color:aliceblue;
}
/* -------------------------------------------------------------------------
----------------------------------------------------------------------------*/

