/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root{
    --cyan: #78dbdbd8;
    --grey:  rgb(65, 62, 62);
    --darkgrey: rgb(47, 41, 41);
}